<% provide(:title, "管理画面") %>

<div class="container">
  <div class="col col-md-6 offset-md-3 admin-menu">
    <p>一般設定</p>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>担当者</th>
        <td><%= link_to "登録･修正", users_path %></td>
        <td>登録数&nbsp;<%= User.count %>件</td>
      </tr>
      <tr>
        <th>得意先</th>
        <td><%= link_to "登録･修正", customers_path %></td>
        <td>登録数&nbsp;<%= Customer.count %>件</td>
      </tr>
      <tr>
        <th>商品</th>
        <td><%= link_to "登録･修正", products_path %></td>
        <td>登録数&nbsp;<%= Product.count %>件</td>
      </tr>
    </table>
  </div>
  
  <br>
  
  <div class="col col-md-6 offset-md-3 admin-menu">
    <p>管理者設定</p>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>管理者</th>
        <td><%= link_to "ログイン情報変更", edit_admin_registration_path %></td>
      </tr>
      <tr>
        <th>LINE通知</th>
        <td><%= link_to "設定変更", edit_post_path(1) %></td>
      </tr>
    </table>
  </div>
</div>
