<% provide(:title, "担当者一覧") %>

<h2>担当者一覧編集</h2>
<div class="container">
  <div class="col col-md-12 admin-menu">
    <%= paginate @users %>
    <table class="table-responsive table-bordered table-condensed table-hover bg-light" id="table-users">
      <thead>
        <tr>
          <th></th>
          <th class="pc-display"><%= User.human_attribute_name :code %></th>
          <th><%= User.human_attribute_name :name %></th>
          <th class="pc-display"><%= User.human_attribute_name :email %></th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tr>
          <td>
            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapse1-<%= user.id %>"
               role="button" aria-expanded="false" aria-controls="collapse1-<%= user.id %>">
              編集
            </a>
            <a class="btn btn-danger fas fa-unlock-alt" data-toggle="collapse" href="#collapse2-<%= user.id %>"
               role="button" aria-expanded="false" aria-controls="collapse2-<%= user.id %>">
            </a>
          </td>
          <td class="pc-display"><%= format("%03d", user.code) %></td>
          <td><%= user.name %></td>
          <td class="pc-display"><%= user.email %></td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="collapse" id="collapse1-<%= user.id %>">
              <div class="collapse-body">
                <%= render 'users_form', { user: user } %>
              </div>
            </div>
            <div class="collapse" id="collapse2-<%= user.id %>">
              <div class="collapse-body">
                <%= render 'users_password_form', { user: user } %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
