<% provide(:title, "") %>
<h1>TopPages#top</h1>
<p>Find me in app/views/top_pages/top.html.erb</p>
<p><%= l(Date.current, format: :default) %></p>
<p><%= l(Date.current, format: :long) %></p>
<p><%= l(Date.current, format: :middle) %></p>
<p><%= l(Date.current, format: :short) %></p>
<p><%= l(Time.current, format: :default) %></p>
<p><%= l(Time.current, format: :long) %></p>
<p><%= l(Time.current, format: :short) %></p>
<p><%= l(Time.current, format: :time) %></p>