<% provide(:title, "#{customer_name} / #{product_name}") %>
<%= code(@user) %><%= @user.name %>

<h2>委託在庫受払 修正入力</h2>
<div class="container">
  <div class="col col-md-8 offset-md-2 user-menu">
    <table class="table-responsive table-bordered table-condensed bg-light">
      <tbody>
        <tr>
          <th><%= Consignment.human_attribute_name :customer_name %></th>
          <td><%= customer_name %></td>
        </tr>
        <tr>
          <th><%= Consignment.human_attribute_name :product_name %></th>
          <td><%= product_name %></td>
        </tr>
        <tr>
            <th><%= Consignment.human_attribute_name :serial_number %></th>
            <td colspan="3"><%= @user.consignments.find(params[:consignment_id]).serial_number %></td>
          </tr>
          <tr>
            <th><%= Consignment.human_attribute_name :note %></th>
            <td colspan="3"><%= @user.consignments.find(params[:consignment_id]).note %></td>
          </tr>
          <tr>
            <th>委託残数</th>
            <td><%= consignment_remaining_count %></td>
          </tr>
      </tbody>
    </table>
    
    <br>
    
    <%= form_with(model: @stock, url: user_consignment_stock_path(User.find(params[:user_id]), Consignment.find(params[:consignment_id]), @stock), local: true, method: :patch) do |f| %>
      <table class="table-responsive table-bordered table-condensed bg-light">
        <thead>
          <tr>
            <th colspan="2"><%= Stock.human_attribute_name :processing_date %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><%= f.date_field :processing_date, class: "form-control" %></td>
          </tr>
        </tbody>
      </table>
      
      <br>
      
      <table class="table-responsive table-bordered table-condensed bg-light">
        <thead>
          <tr>
            <th><%= Stock.human_attribute_name :return_quantity %></th>
            <th><%= Stock.human_attribute_name :sales_quantity %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= f.number_field :return_quantity, type: "number", step: 1, class: "form-control" %></td>
            <td><%= f.number_field :sales_quantity, type: "number", step: 1, class: "form-control" %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "編集", class: "btn btn-default btn-block" %>
    <% end %>
    <%= link_to "戻る", user_consignment_stocks_path, class: "btn btn-secondary btn-block btn-stock" %>
  </div>
</div>
