<% provide(:title, "#{customer_name} / #{product_name}") %>

<h1><%= "#{customer_name} / #{product_name}" %></h1>
<div class="container">
  <div class="col col-md-12 user-menu">
    <table class="table-bordered table-condensed bg-light" width="50%">
      <tbody>
        <tr>
          <th class="pc-display"><%= code(@user) %></th>
          <th class="pc-display"><%= @user.name %></th>
          <th><%= link_to "新規登録", new_user_consignment_stock_path, class: "btn btn-sm btn-default" %></th>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="table-responsive table-bordered table-condensed table-hover bg-light">
      <thead>
        <tr>
          <th>編集</th>
          <th><%= Stock.human_attribute_name :processing_date %></th>
          <th><%= Stock.human_attribute_name :return_quantity %></th>
          <th><%= Stock.human_attribute_name :sales_quantity %></th>
          <th><%= Consignment.human_attribute_name :note %></th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= link_to "", edit_user_consignment_stock_path(User.find(params[:user_id]), Consignment.find(params[:consignment_id]), stock), class: "far fa-edit" %></td>
            <td><%= stock.processing_date %></td>
            <td><%= stock.return_quantity %></td>
            <td><%= stock.sales_quantity %></td>
            <td><%= @user.consignments.find(params[:consignment_id]).note %></td>
          </tr>
        <% end %>
      </tbody>
      <tbody>
        <tr>
          <td></td>
          <td>委託残数</td>
          <td><%= consignment_remaining_count %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<%= @user.consignments.find(params[:consignment_id]).quantity - @stocks.map { |stock| stock.return_quantity }.sum - @stocks.map { |stock| stock.sales_quantity }.sum %>