<% provide(:title, "#{customer_name} / #{product_name}") %>

<h3>委託在庫受払 一覧</h3>
<div class="container">
  <div class="col col-md-8 offset-md-2 user-menu">
    <table class="table main table-responsive table-bordered table-condensed bg-light">
      <tbody>
        <tr>
          <th><%= Consignment.human_attribute_name :customer_name %></th>
          <td><%= customer_name %></td>
        </tr>
        <tr>
          <th><%= Consignment.human_attribute_name :product_name %></th>
          <td><%= product_name %></td>
        </tr>
        <tr>
            <th><%= Consignment.human_attribute_name :serial_number %></th>
            <td colspan="3"><%= @user_consignment.serial_number %></td>
          </tr>
          <tr>
            <th><%= Consignment.human_attribute_name :note %></th>
            <td colspan="3"><%= @user_consignment.note %></td>
          </tr>
          <tr>
            <th>委託残数</th>
            <td class="<%= consignment_remaining_count_color %>"><%= consignment_remaining_count %></td>
          </tr>
      </tbody>
    </table>
    <%= link_to "受払入力", new_user_consignment_stock_path, class: "btn btn-primary btn-block" %>
    
    <br>
    
    <table class="table main table-responsive table-bordered table-condensed table-hover bg-light">
      <% if @stocks.present? %>
        <thead>
          <tr>
            <th class="nowrap mobile-display"></th>
            <th class="nowrap mobile-display">処理日</th>
            <th class="nowrap mobile-display">引上</th>
            <th class="nowrap mobile-display">売上</th>
            <th class="nowrap mobile-display"></th>
            
            <th class="nowrap pc-display">編集</th>
            <th class="nowrap pc-display"><%= Stock.human_attribute_name :processing_date %></th>
            <th class="nowrap pc-display"><%= Stock.human_attribute_name :return_quantity %></th>
            <th class="nowrap pc-display"><%= Stock.human_attribute_name :sales_quantity %></th>
            <th class="nowrap pc-display">削除</th>
          </tr>
        </thead>
      <% end %>
      <tbody>
        <% @stocks.decorate.each do |stock| %>
          <tr>
            <td><%= link_to "", edit_user_consignment_stock_path(@user, @consignment, stock), class: "far fa-edit" %></td>
            <td><%= l(stock.processing_date, format: :short) %><a class=<%= stamp(stock.created_at, stock.updated_at) %>></a></td>
            <td><%= stock.return_quantity %></td>
            <td><%= stock.sales_quantity %></td>
            <td><%= link_to "", user_consignment_stock_path(@user, @consignment, stock), method: :delete,
                                data: { confirm: "#{stock.processing_date}の在庫受払データを削除しますか？" }, class: "fas fa-trash-alt" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "戻る", @user, class: "btn btn-secondary btn-block btn-stock" %>
  </div>
</div>
