<div class="container">
  <div class="col col-md-12 user-menu">
    <table class="table-bordered table-condensed bg-light" width="50%">
      <tbody>
        <tr>
          <th class="pc-display"><%= code(@user) %></th>
          <th class="pc-display"><%= @user.name %></th>
          <th><%= link_to "新規登録", '#', class: "btn btn-sm btn-default" %></th>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="table-responsive table-bordered table-condensed table-hover bg-light">
      <thead>
        <tr>
          <th><%= Stock.human_attribute_name :processing_date %></th>
          <th><%= Stock.human_attribute_name :return_quantity %></th>
          <th><%= Stock.human_attribute_name :sales_quantity %></th>
          <th>委託残数</th>
          <th><%= Consignment.human_attribute_name :note %></th>
        </tr>
      </thead>
      <tbody>
        <%= form_with(model: @stock, url: user_consignment_stocks_path, local: true) do |f| %>
          <tr>
            <td><%= f.date_field :processing_date, class: "form-control" %></td>
            <td><%= f.number_field :return_quantity, class: "form-control" %></td>
            <td><%= f.number_field :sales_quantity, class: "form-control" %></td>
            <td><%= f.submit "登録", class: "btn btn-default btn-block" %></td>
            <td><%= @user.consignments.find(params[:consignment_id]).note %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>