<% provide(:title, @user.name) %>

<h1>委託商品情報</h1>
<div class="container">
  <div class="col col-md-12 user-menu">
    <table class="table-bordered table-condensed bg-light" width="50%">
      <tr>
        <th class="pc-display"><%= code(@user) %></th>
        <th class="pc-display"><%= @user.name %></th>
        <th><%= link_to "新規登録", new_user_consignment_path(@user), class: "btn btn-sm btn-default" %></th>
      </tr>
    </table>
    <br>
    <%= paginate @user_consignments %>
    <table class="table-responsive table-bordered table-condensed table-hover bg-light" id="table-products">
      <thead>
        <tr>
          <th>編集</th>
          <th><%= Consignment.human_attribute_name :ship_date %></th>
          <th class="pc-display"><%= Product.human_attribute_name :code %></th>
          <th><%= Product.human_attribute_name :name %></th>
          <th><%= Consignment.human_attribute_name :quantity %></th>
          <th class="pc-display"><%= Consignment.human_attribute_name :serial_number %></th>
          <th class="pc-display"><%= Consignment.human_attribute_name :customer_code %></th>
          <th class="pc-display"><%= Consignment.human_attribute_name :customer_name %></th>
          <th class="pc-display"><%= Consignment.human_attribute_name :note %></th>
        </tr>
      </thead>
      
      <% @user_consignments.decorate.each do |c| %>
        <tbody>
          <% if none_zero_total(c) %> <!-- 委託残数0は表示しない。 -->
            <tr>
              <td><%= link_to "", user_consignment_path(@user, c), class: "far fa-edit" %></td>
              <td class="pc-display"><%= l(c.ship_date, format: :default) %><a class=<%= stamp(c.created_at, c.updated_at) %>></a></td>
              <td class="mobile-display"><%= l(c.ship_date, format: :short) %><a class=<%= stamp(c.created_at, c.updated_at) %>></a></td>
              <td class="pc-display"><%= c.product_id_num&.code %></td>
              <td><%= c.product_id_num&.name %></td>
              <td>
                <%= link_to total_consignment_balance(c), user_consignment_stocks_path(@user, c) %>
                <%= c.quantity - c.stocks.map { |s| s.return_quantity }.sum - c.stocks.map { |s| s.sales_quantity }.sum %>
              </td>
              <td class="pc-display"><%= c.serial_number %></td>
              <td class="pc-display"><%= c.customer_id_num&.code %></td>
              <td class="pc-display"><%= c.customer_id_num&.name %></td>
              <td class="pc-display"><%= c.note %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
