<% provide(:title, @user.name) %>

<h4><%= @user.name %></h4>
<div class="container">
  <div class="col col-md-12 user-menu">
    <!--<div class="search-link-form mobile-display">-->
    <!--  <div class="search-link"><= link_to "委託登録", new_user_consignment_path(@user), class: "btn btn-primary" %></div>-->
    <!--</div>-->
    <div class="search-link-form">
      <div class="search-link"><%= link_to "委託登録", new_user_consignment_path(@user), class: "btn btn-primary" %></div>
      <div class="search-link"><%= link_to "得意先別", by_customer_user_consignments_path(@user), class: "btn btn-outline-primary" %></div>
      <div class="search-link"><%= link_to "商品別",  by_product_user_consignments_path(@user), class: "btn btn-outline-primary" %></div>
      <div class="search-link"><%= link_to "担当別",  by_user_user_consignments_path(@user), class: "btn btn-outline-primary" %></div>
      <div class="search-link"><%= link_to "処理済",  end_tasks_user_path(@user), class: "btn btn-outline-secondary" %></div>
      <div class="search-link">
        <%= form_with(scope: :search, url: user_path(@user), class: "form-inline", method: :get, local: true) do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :customer_name, placeholder: "#{Customer.human_attribute_name :name}", class: "form-control" %>
            <%= f.text_field :product_name, placeholder: "#{Product.human_attribute_name :name}", class: "form-control" %>
            <div class="input-group-append">
              <%= f.submit "検索", class: "btn btn-sm btn-primary" %>
            </div>
          </div>
          <div class="ml-3 mb-3">
            <%= consignment_search_results_text(@user_consignments) %>&emsp;<%= consignment_search_results_link(user_path(@user)) %>
          </div>
        <% end %>
      </div>
    </div>

    <%= paginate @user_consignments if @search_none %>
    
    <table class="table main table-responsive table-bordered table-condensed table-hover bg-light" id="table-products">
      <!-- PC画面 -->
      <thead class="pc-display">
        <tr>
          <th width="6%">編集</th>
          <th width="11%" class="nowrap"><%= Consignment.human_attribute_name :ship_date %></th>
          <th width="28%"><%= Product.human_attribute_name :name %></th>
          <th width="8%">委託残</th>
          <th width="12%"><%= Consignment.human_attribute_name :serial_number %></th>
          <th width="20%"><%= Consignment.human_attribute_name :customer_name %></th>
          <th width="15%"><%= Consignment.human_attribute_name :note %></th>
        </tr>
      </thead>
      
      <!-- Mobile画面 -->
      <thead class="mobile-display sub">
        <tr>
          <th class="nowrap">委託日</th>
          <th>得意先 / 商品名</th>
          <th>残</th>
        </tr>
      </thead>
      
      <% @user_consignments.decorate.each do |c| %>
        <!-- PC画面 -->
        <tbody class="pc-display">
          <tr>
            <td><%= link_to "", user_consignment_path(@user, c), class: "far fa-edit" %></td>
            <td><%= l(c.ship_date, format: :default) %><a class=<%= stamp(c.created_at, c.updated_at) %>></a></td>
            <td><%= c.product_id_num&.name %></td>
            <td><%= link_to total_consignment_balance(c), user_consignment_stocks_path(@user, c), class: "#{total_consignment_balance_color(c)}" %></td>
            <td><%= c.serial_number %></td>
            <td><%= c.customer_id_num&.name %></td>
            <td><%= c.note %></td>
          </tr>
        </tbody>
        
        <!-- Mobile画面 -->
        <tbody class="mobile-display sub">
          <tr>
            <td rowspan="2" class="dotted-right">
              <%= link_to l(c.ship_date, format: :short), user_consignment_path(@user, c) %>
              <a class=<%= stamp(c.created_at, c.updated_at) %>></a>
            </td>
            <td class="dashed-bottom none-border dotted-bottom"><%= c.customer_id_num&.name %></td>
            <td rowspan="2" class="dotted-left"><%= link_to "#{total_consignment_balance(c)}", user_consignment_stocks_path(@user, c), class: "#{total_consignment_balance_color(c)}" %></td>
          </tr>
          <tr>
            <td class="none-border"><%= c.product_id_num&.name %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
<% if @consignment.present? %>
<% reminder_consignments.each do |a| %>
<%= a.ship_date %>
<% end %>
<% end %>