<% provide(:title, "得意先一覧") %>

<h2><%= customer_page_title %></h2>
<div class="container">
  <div class="col col-md-12 admin-menu">
    <div class="form-row">
      <%= form_with(scope: :search, url: customers_path, class: "form-inline", method: :get, local: true) do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :code, placeholder: "#{Customer.human_attribute_name :code}", class: "form-control" %>
          <%= f.text_field :name, placeholder: "#{Customer.human_attribute_name :name}", class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-sm btn-primary" %>
          </div>
          <% if admin_signed_in?  %>
            <div class="input-group hidden-btn">
              <%= button_tag "CSV処理", type: "button", class: "btn btn-sm btn-success pc-display", onclick: "clickBtn()" %>
            </div>
          <% end %>
        </div>
        <div class="ml-3 mb-3">
          <%= search_results_text(@customers) %>&emsp;<%= search_results_link(customers_path) %>
        </div>
      <% end %>
      
      <% if admin_signed_in?  %>
        <div id="csv" class="row">
          <%= form_tag import_customers_path, multipart: true do %>
            <div class="input-group">
              <%= file_field_tag :file, class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "CSV読込", class: "btn btn-sm btn-default" %>
              </div>
              <div class="row csv-export-form">
                <%= link_to "CSV出力", customers_path(format: :csv), class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <%= paginate @customers if @search_none %>
    
    <table class="table-responsive table-bordered table-condensed table-hover bg-light" id="table-customers">
      <thead>
        <tr height="50">
          <% if admin_signed_in?  %>
            <th>
              <!-- 登録 -->
              <%= link_to "", new_customer_path, class: "fas fa-plus-circle fa-lg" %>
            </th>
          <% end %>
          <th><%= Customer.human_attribute_name :code %></th>
          <th><%= Customer.human_attribute_name :name %></th>
          <% if admin_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      
      <% @customers.each do |customer| %>
        <tr height="40">
          <% if admin_signed_in?  %>
            <td>
              <a class="fas fa-edit fa-lg" data-toggle="collapse" href="#collapse1-<%= customer.id %>"
                 role="button" aria-expanded="false" aria-controls="collapse1-<%= customer.id %>">
                <!-- 編集 -->
              </a>
            </td>
          <% end %>
          <td><%= customer.code %><a class=<%= stamp(customer.created_at, customer.updated_at) %>></td>
          <td><%= customer.name %></td>
          <% if admin_signed_in? %>
            <td>
              <!-- 削除 -->
              <%= link_to "", customer, method: :delete,
                                        data: { confirm: "【#{customer.code}】#{customer.name}を削除しますか？" },
                                        class: "fas fa-times-circle fa-lg" %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td colspan="5">
            <div class="collapse" id="collapse1-<%= customer.id %>">
              <div class="collapse-body">
                <%= render 'form', { customer: customer } %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
//初期表示は非表示
document.getElementById("csv").style.visibility ="hidden";

function clickBtn(){
	const csv = document.getElementById("csv");

	if(csv.style.visibility=="visible"){
		// hiddenで非表示
		csv.style.visibility ="hidden";
	}else{
		// visibleで表示
		csv.style.visibility ="visible";
	}
}
</script>
