<% provide(:title, "LINE通知設定") %>

<div class="container container-top">
  <div class="col col-md-6 col-md-offset-3 login-top">
    <div class="center jumbotron">
      <p>LINE通知設定</p>
      <%= form_with(model: @post, local: true) do |f| %>
        <p class="border-post"></p>
        
        <p>
          リマインダー通知&emsp;
          <%= f.check_box :reminder_check, {} , "true", "false" %>
          チェックで通知ON
        </p>
        <p>
          <%= reminder_notification %>
        </p>
        
        <div class="form-group row edit-post">
          <div class="col col-md-4">
            <%= f.select :reminder_month, [*1..12], {}, class: "form-control" %>
          </div>
          <div class="col col-md-8 col-offset-4">
            <p>ヶ月以上</p>
          </div>
          <div class="reminder-post-text">経過した未処理の委託がある場合毎月通知します。</div>
        </div>
        <%= f.text_area :reminder_notice, placeholder: "追加メッセージ(300文字以内)", class: "form-control" %>
        
        <p class="border-post"></p>
        
        <p>
          月間通知&emsp;
          <%= f.check_box :month_check, {} , "true", "false" %>
          チェックで通知ON
        </p>
        <p>
          <%= month_notification %>
        </p>
        
        <div class="form-group row edit-post">
          <div class="col col-md-4">
            <%= f.select :month_day, [*1..31], {}, class: "form-control" %>
          </div>
          <div class="col col-md-8">
            <p>日に通知</p>
          </div>
        </div>
        <%= f.text_area :month_notice, placeholder: "通知メッセージ(300文字以内)", class: "text_area form-control" %>
        
        <p class="border-post"></p>
        
        <p>
          年間通知&emsp;
          <%= f.check_box :year_check, {} , "true", "false" %>
          チェックで通知ON
        </p>
        <p>
          <%= year_notification %>
        </p>
        
        <div class="form-group row edit-post">
          <div class="col col-md-4">
            <%= f.select :year_month, [*1..12], {}, class: "form-control" %>
          </div>
          <div class="col col-md-8">
            <p>月</p>
          </div>
        </div>
        <div class="form-group row edit-post">
          <div class="col col-md-4">
            <%= f.select :year_day, [*1..31], {}, class: "form-control" %>
          </div>
          <div class="col col-md-8">
            <p>日に通知</p>
          </div>
        </div>
        <%= f.text_area :year_notice, placeholder: "通知メッセージ(300文字以内)", class: "text_area form-control" %>
        
        <p class="border-post"></p>
        
        <div class="btn-field">
          <div class="btn-item">
            <%= f.submit "登録", class: "btn btn-primary btn-block btn-user" %>
          </div>
          <div class="btn-item">
            <%= link_to "戻る", admin_path(current_admin), class: "btn btn-secondary btn-block btn-user" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
