<!-- 得意先検索モーダル -->
<div class="modal fade" id="customer-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerModalTitle">得意先検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="row search-area">
         <div class="col col-md-9">
          <form>
            <input type="text" id="search-text-customer" class="form-control" placeholder="得意先コード又は得意先名で検索">
          </form>
          <div class="search-result">
            <div class="search-result__hit-num"></div>
            <div id="search-result__list"></div>
          </div>
        </div>
      </div>
      
      <div class="modal-body">
        <div class="modal-search-list">
          <div class="search-table">
            <p class="fixed-cell"></p>
            <p class="variable-cell"><%= Customer.human_attribute_name :code %></p>
            <p class="variable-cell"><%= Customer.human_attribute_name :name %></p>
          </div>
        </div>
        
        <% @customers&.each do |customer| %>
          <div class="target-area-customer modal-search-list">
            <div class="search-table">
              <p class="fixed-cell">
                <%= button_tag "確定", value: "#{customer.code}",id: "#{customer.code}", data: {dismiss: "modal" },
                                       class: "#{customer.name} btn btn-default btn-sm select_customer-btn", onclick: "customerfunc()" %>
              </p>
              <p class="variable-cell"><%= customer.code %></p>
              <p class="variable-cell" onclick="customerfunc()"><%= customer.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<!-- 検索機能 -->
<script>
  $('.select_customer-btn').on('click', function customerfunc() {
    var select_customer_id =  $(this).attr("id");
    var select_customer_name =  $(this).attr("class").split(" ")[0];
    document.getElementById("output_customer_id").value = select_customer_id;
    document.getElementById("output_customer_name").value = select_customer_name;
  });
  
  $(function () {
    searchWord = function(){
      var searchText = $(this).val(), // 検索ボックスに入力された値
          targetText;
  
      $('.target-area-customer div').each(function() {
        targetText = $(this).text();
  
        // 検索対象となるリストに入力された文字列が存在するかどうかを判断
        if (targetText.indexOf(searchText) != -1) {
          $(this).removeClass('hidden');
        } else {
          $(this).addClass('hidden');
        }
      });
    };
  
    // searchWordの実行
    $('#search-text-customer').on('input', searchWord);
  });
</script>
