<!-- 商品検索モーダル -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalTitle">商品検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="row search-area">
         <div class="col col-md-9">
          <form>
            <input type="text" id="search-text-product" class="form-control" placeholder="商品コード又は商品名で検索">
          </form>
          <div class="search-result">
            <div class="search-result__hit-num"></div>
            <div id="search-result__list"></div>
          </div>
        </div>
      </div>
      
      <div class="modal-body">
        <div class="modal-search-list-product">
          <div class="search-table">
            <p class="fixed-cell"></p>
            <p class="variable-cell"><%= Product.human_attribute_name :code %></p>
            <p class="variable-cell"><%= Product.human_attribute_name :name %></p>
          </div>
        </div>
        
        <% @products&.each do |product| %>
          <div class="target-area-product modal-search-list">
            <div class="search-table">
              <p class="fixed-cell">
                <%= button_tag "確定", value: "#{product.code}",id: "#{product.code}", data: {dismiss: "modal" },
                                       class: "btn btn-default btn-sm select_product-btn", onclick: "productfunc()" %>
              </p>
              <p class="variable-cell"><%= product.code %></p>
              <p class="variable-cell"><%= product.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<!-- 検索機能 -->
<script>
  $('.select_product-btn').on('click', function productfunc() {
    var select_product =  $(this).attr("id");
    document.getElementById("output_product").value = select_product;
  });
  
  $(function () {
    searchWord = function(){
      var searchText = $(this).val(), // 検索ボックスに入力された値
          targetText;
  
      $('.target-area-product div').each(function() {
        targetText = $(this).text();
  
        // 検索対象となるリストに入力された文字列が存在するかどうかを判断
        if (targetText.indexOf(searchText) != -1) {
          $(this).removeClass('hidden');
        } else {
          $(this).addClass('hidden');
        }
      });
    };
  
    // searchWordの実行
    $('#search-text-product').on('input', searchWord);
  });
</script>
