<%= @user.name %>
<% @consignments.each do |consignment| %>
  <p><%= consignment.ship_date %></p>
  <p><%= User.find(consignment.user_id).name %></p>
  <p><%= Customer.find(consignment.customer_id_number).name %></p>
  <p><%= Product.find(consignment.product_id_number).name %></p>
  <p><%= consignment.quantity %>台</p>
  <p><%= consignment.done %></p>
  -------------------
<% end %>