<% provide(:title, "得意先別委託情報") %>

<h1><i class="fas fa-building"></i>&nbsp;得意先別委託</h1>
<div class="container">
  <div class="col col-md-12 user-menu">
    <div class="search-link-form">
      <div class="search-link"><%= link_to "#{@user.name} 委託", @user, class: "btn btn-secondary" %></div>
      <div class="search-link"><%= link_to "商品別", by_product_user_consignments_path(@user), class: "btn btn-secondary" %></div>
      <div class="search-link"><%= link_to "PDF", documents_user_consignments_path(@customers_pdf, format: "pdf"), :target=>["_blank"], class: "btn btn-danger" %></div>
      <div class="search-link">
        <%= form_with(scope: :search, url: by_customer_user_consignments_path(@user), class: "form-inline", method: :get, local: true) do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :customer_name, placeholder: "#{Customer.human_attribute_name :name}", class: "form-control" %>
            <div class="input-group-append">
              <%= f.submit "検索", class: "btn btn-sm btn-default" %>
            </div>
          </div>
          <div class="ml-3 mb-3">
            <%= by_customer_search_results_text(@consignments) %>&emsp;<%= by_customer_search_results_link(by_customer_user_consignments_path(@user)) %>
          </div>
        <% end %>
      </div>
    </div>
    
    <% @consignments.each do |customer_id_number, consignments| %>
      <table class="table-bordered table-condensed bg-light" width="50%">
        <tbody>
          <tr>
            <th width="50%" class="pc-display"><%= Consignment.human_attribute_name :customer_code %></th>
            <th width="50%" class="pc-display"><%= Consignment.human_attribute_name :customer_name %></th>
          </tr>
          <tr>
            <td class="pc-display"><%= Customer.find(customer_id_number).code %></td>
            <td><%= Customer.find(customer_id_number).name %></td>
          </tr>
        </tbody>
      </table>
      
      <table class="table-responsive table-bordered table-condensed bg-light">
        <tbody>
          <tr>
            <th width="25%" class="pc-display"><%= Product.human_attribute_name :code %></th>
            <th width="25%"><%= Product.human_attribute_name :name %></th>
            <th width="25%">委託残</th>
            <th width="25%">担当者</th>
          </tr>
          <% consignments.each do |consignment| %>
            <tr>
              <td class="pc-display"><%= Product.find(consignment.product_id_number).code %></td>
              <td><%= Product.find(consignment.product_id_number).name %></td>
              <td class="<%= total_consignment_balance_color(consignment) %>">
                <%= total_consignment_balance(consignment) %>
              </td>
              <td><%= User.find(consignment.user_id).name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    <% end %>
  </div>
</div>
