<% provide(:title, "得意先別委託情報") %>

<h4>得意先別委託</h4>
<div class="container">
  <div class="col col-md-12 user-menu">
    <div class="search-link-form">
      <% unless admin_signed_in? %>
        <div class="search-link">
          <%= link_to "#{@user.name}", @user, class: "btn btn-outline-primary" %>
        </div>
      <% end %>
      <div class="search-link">
        <%= link_to "商品別", by_product_user_consignments_path(@user), class: "btn btn-outline-primary" %>
      </div>
      <div class="search-link">
        <p class="pc-display">
          <%= link_to "PDF", documents_user_consignments_path(text: "customers_pdf", format: "pdf"), :target=>["_blank"], class: "btn btn-danger" %>
        </p>
      </div>
      <div class="search-link">
        <%= form_with(scope: :search, url: by_customer_user_consignments_path(@user), class: "form-inline", method: :get, local: true) do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :customer_name, placeholder: "#{Customer.human_attribute_name :name}", class: "form-control" %>
            <div class="input-group-append">
              <%= f.submit "検索", class: "btn btn-sm btn-primary" %>
            </div>
          </div>
          <div class="ml-3 mb-3">
            <%= by_customer_search_results_text(@consignments) %>&emsp;<%= by_customer_search_results_link(by_customer_user_consignments_path(@user)) %>
          </div>
        <% end %>
      </div>
    </div>
    
    <% @consignments.each do |customer_id_number, consignments| %>
      <table class="table every table-responsive table-bordered table-condensed bg-light">
        <thead>
          <!-- PC画面 -->
          <tr class="pc-display">
            <th colspan="4" class="every">【<%= Customer.find(customer_id_number).code %>】<%= Customer.find(customer_id_number).name %></th>
          </tr>
          <!-- Mobile画面 -->
          <tr class="mobile-display">
            <th><%= Customer.find(customer_id_number).name %></th>
            <th>残</th>
          </tr>
        </thead>
        
        <tbody>
          <!-- PC画面 -->
          <tr class="pc-display">
            <th width="15%"><%= Product.human_attribute_name :code %></th>
            <th width="45%"><%= Product.human_attribute_name :name %></th>
            <th width="10%">委託残</th>
            <th width="30%">担当者</th>
          </tr>
          <% consignments.each do |consignment| %>
            <tr class="pc-display">
              <td><%= Product.find(consignment.product_id_number).code %></td>
              <td><%= Product.find(consignment.product_id_number).name %></td>
              <td class="<%= total_consignment_balance_color(consignment) %>">
                <%= total_consignment_balance(consignment) %>
              </td>
              <td><%= User.find(consignment.user_id).name %></td>
            </tr>
            
            <tr class="mobile-display">
              <td width="90%" class="font-small">
                <%= Product.find(consignment.product_id_number).name %><br>
                <a class="font-xxsmall"><%= "担当:#{User.find(consignment.user_id).name}" %></a>
              </td>
              <td width="10%" class="<%= total_consignment_balance_color(consignment) %>">
                <%= total_consignment_balance(consignment) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    <% end %>
  </div>
</div>
