<% provide(:title, "委託商品登録") %>

<h1>委託商品登録</h1>
<div class="row justify-content-md-center">
  <div class="col col-md-6 col-md-offset-3">
    <%= form_with(model: @consignment, url: user_consignments_path(@user), local: true) do |f| %>
      <div class="consignment-new-form">
        <%= f.date_field :ship_date, value: Date.current, placeholder: "#{Consignment.human_attribute_name :ship_date}", class: "form-control" %>
      </div>
      
      <div class="consignment-new-form aaa bbb">
        <%= f.text_field :customer_info, placeholder: "#{Consignment.human_attribute_name :customer_info}", id: "output_customer", class: "form-control" %>
      </div>
        <div class="input-group-append bbb">
          <%= button_tag type: "button", data: {toggle: "modal", target: "#customer-modal"}, class: "btn btn-default" do %>
            検索
          <% end %>
        </div>
      
      
      <div class="consignment-new-form input-group">
        <%= f.text_field :product_info, placeholder: "#{Consignment.human_attribute_name :product_info}", id: "output_product", class: "form-control" %>
        <div class="input-group-append">
          <%= button_tag type: "button", data: {toggle: "modal", target: "#product-modal"}, class: "btn btn-default" do %>
            検索
          <% end %>
        </div>
      </div>
      
      <div class="consignment-new-form">
        <%= f.number_field :quantity, placeholder: "#{Consignment.human_attribute_name :quantity}", class: "form-control" %>
      </div class="consignment-new-form">
      
      <div class="consignment-new-form">
        <%= f.text_field :serial_number, placeholder: "#{Consignment.human_attribute_name :serial_number}", class: "form-control" %>
      </div>
      
      <div class="consignment-new-form">
        <%= f.text_area :note, placeholder: "#{Consignment.human_attribute_name :note}", class: "form-control" %>
      </div>
      
      <div class="consignment-new-form btn-field">
        <div class="btn-item">
          <%= f.submit "登録", class: "btn btn-default btn-block" %>
        </div>
        <div class="btn-item">
          <%= link_to "戻る", user_path(@user), class: "btn btn-secondary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 得意先検索モーダル -->
<%= render 'customer_search' %>

<!-- 商品検索モーダル -->
<%= render 'product_search' %>
