<% provide(:title, "商品一覧") %>

<h2><%= product_page_title %></h2>
<div class="container">
  <div class="col col-md-12 admin-menu">
    <div class="form-row">
      <%= form_with(scope: :search, url: products_path, class: "form-inline", method: :get, local: true) do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :code, placeholder: "#{Product.human_attribute_name :code}", class: "form-control" %>
          <%= f.text_field :name, placeholder: "#{Product.human_attribute_name :name}", class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-sm btn-default" %>
          </div>
          <% if admin_signed_in? %>
            <div class="input-group hidden-btn">
              <%= button_tag "CSV処理", type: "button", class: "btn btn-sm btn-success pc-display", onclick: "clickBtn()" %>
            </div>
          <% end %>
        </div>
        <div class="ml-3 mb-3">
          <%= search_results_text(@products) %>&emsp;<%= search_results_link(products_path) %>
        </div>
      <% end %>
      
      <% if admin_signed_in? %>
        <div id="csv" class="row pc-display">
          <%= form_tag import_products_path, multipart: true do %>
            <div class="input-group">
              <%= file_field_tag :file, class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "CSV読込", class: "btn btn-sm btn-default" %>
              </div>
              <div class="row csv-export-form">
                <%= link_to "CSV出力", products_path(format: :csv), class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <%= paginate @products if @search_none %>
    
    <table class="table-responsive table-bordered table-condensed table-hover bg-light" id="table-products">
      <thead>
        <tr height="50">
          <% if admin_signed_in? %>
            <th>
              <!-- 登録 -->
              <%= link_to "", new_product_path, class: "fas fa-plus-circle fa-lg" %>
            </th>
          <% end %>
          <th class="mobile-display">商品ｺｰﾄﾞ</th>
          <th class="pc-display"><%= Product.human_attribute_name :code %></th>
          <th><%= Product.human_attribute_name :name %></th>
          <th class="pc-display"><%= Product.human_attribute_name :classification %></th>
          <th class="pc-display"><%= Product.human_attribute_name :category %></th>
          <% if admin_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      
      <% @products.each do |product| %>
        <tr height="50">
          <% if admin_signed_in? %>
            <td>
              <a class="fas fa-edit fa-lg" data-toggle="collapse" href="#collapse1-<%= product.id %>"
                 role="button" aria-expanded="false" aria-controls="collapse1-<%= product.id %>">
                <!-- 編集 -->
              </a>
            </td>
          <% end %>
          <td><%= product.code %><a class=<%= stamp(product.created_at, product.updated_at) %>></td>
          <td><%= product.name %></td>
          <td class="pc-display"><%= product.classification %></td>
          <td class="pc-display"><%= product.category %></td>
          <% if admin_signed_in? %>
            <td>
              <!-- 削除 -->
              <%= link_to "", product, method: :delete,
                                       data: { confirm: "【#{product.code}】#{product.name}を削除しますか？" },
                                       class: "fas fa-times-circle fa-lg" %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td colspan="6">
            <div class="collapse" id="collapse1-<%= product.id %>">
              <div class="collapse-body">
                <%= render 'form', { product: product } %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
//初期表示は非表示
document.getElementById("csv").style.visibility ="hidden";

function clickBtn(){
	const csv = document.getElementById("csv");

	if(csv.style.visibility=="visible"){
		// hiddenで非表示
		csv.style.visibility ="hidden";
	}else{
		// visibleで表示
		csv.style.visibility ="visible";
	}
}
</script>
