<% provide(:title, "商品登録") %>

<div class="container container-top">
  <div class="col col-md-6 col-md-offset-3 login-top">
    <div class="center jumbotron">
      <p>商品登録</p>
      <%= form_with(model: @product, local: true) do |f| %>
        <%= f.text_field :code, placeholder: "#{Product.human_attribute_name :code}", class: "form-control" %>
        <%= f.text_field :name, placeholder: "#{Product.human_attribute_name :name}", class: "form-control" %>
        <div class="btn-field">
          <div class="btn-item">
            <%= f.submit "登録", class: "btn btn-primary btn-block btn-user" %>
          </div>
          <div class="btn-item">
            <%= link_to "戻る", products_path, class: "btn btn-secondary btn-block btn-user" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
