<header class="navbar navbar-expand-md navbar-dark" id="menu-bg">
  <!-- ハンバーガーメニュー -->
  <%= render 'layouts/hamburger_button' %>
  
  <div class="p-2 container-fluid header-top">
    <div>
      <%= link_to header_title, root_path, id: "logo" %>
    </div>
    <div class="header-list">
      <ul class="navbar-nav mr-autot">
        <% unless admin_signed_in? %>
          <li class="pc-display">
            <%= link_to "&nbsp;#{current_user.name}".html_safe, user_path(current_user), class: "header-menu fas fa-user-circle" if user_signed_in? %>
          </li>
        <% end %>
        <!-- ドロップダウンメニュー -->
        <div class="dropdown">
          <button type="button" id="dropdown-setting" class="pc-display faa-parent animated-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>&nbsp;設定
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown1">
            <a><%= link_to product_menu_text, products_path, class: "dropdown-item" %></a>
            <a><%= link_to customer_menu_text, customers_path, class: "dropdown-item" %></a>
            <a>
              <%= link_to "担当者一覧/編集", users_path, class: "dropdown-item" if admin_signed_in? %>
              <%= link_to "担当者情報編集", edit_user_registration_path, class: "dropdown-item" unless admin_signed_in? %>
            </a>
          </div>
        </div>
        
        <!--<li class="pc-display"><= link_to "&nbsp;設定".html_safe, '#', class: "header-menu fas fa-cog" %></li>-->
        <% if user_signed_in? %>
          <li class="pc-display"><%= link_to "ログアウト".html_safe, destroy_user_session_path, method: :delete, class: "header-menu fas fa-sign-out-alt" %></li>
        <% elsif admin_signed_in? %>
          <li class="pc-display"><%= link_to "ログアウト".html_safe, destroy_admin_session_path, method: :delete, class: "header-menu fas fa-sign-out-alt" %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
