<header class="navbar navbar-expand-md navbar-dark" id="menu-bg">
  <!-- ハンバーガーメニュー -->
  <%= render 'layouts/hamburger_button' %>
  
  <div class="p-2 container-fluid header-top">
    <div><%= link_to header_title, root_path, id: "logo" %></div>
    <div class="header-list">
      <ul class="navbar-nav mr-autot">
        <% if admin_signed_in? %>
          <li class="pc-display"><%= link_to "&nbsp;#{current_admin.name}".html_safe, admin_path(current_admin), class: "header-menu fas fa-user-circle" %></li>
        <% else %>
          <li class="pc-display"><%= link_to "&nbsp;#{current_user.name}".html_safe, user_path(current_user), class: "header-menu fas fa-user-circle" if user_signed_in? %></li>
        <% end %>
        <!-- ドロップダウンメニュー -->
        <div class="dropdown">
          <button type="button" id="dropdown-setting" class="pc-display faa-parent animated-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog faa-spin"></i>&nbsp;設定
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown1">
            <a><%= link_to "&nbsp;商品一覧/編集".html_safe, products_path, class: "dropdown-item fas fa-boxes" %></a>
            <a><%= link_to "&nbsp;得意先一覧/編集".html_safe, customers_path, class: "dropdown-item fas fa-building" %></a>
            <a>
              <%= link_to "&nbsp;担当者一覧/編集".html_safe, users_path, class: "dropdown-item fas fa-user-circle" if admin_signed_in? %>
              <%= link_to "&nbsp;担当者情報編集".html_safe, edit_user_registration_path, class: "dropdown-item fas fa-user-circle" unless admin_signed_in? %>
            </a>
          </div>
        </div>
        
        <!--<li class="pc-display"><= link_to "&nbsp;設定".html_safe, '#', class: "header-menu fas fa-cog" %></li>-->
        <% if user_signed_in? %>
          <li class="pc-display"><%= link_to "ログアウト".html_safe, destroy_user_session_path, method: :delete, class: "header-menu fas fa-sign-out-alt" %></li>
        <% elsif admin_signed_in? %>
          <li class="pc-display"><%= link_to "ログアウト".html_safe, destroy_admin_session_path, method: :delete, class: "header-menu fas fa-sign-out-alt" %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
