<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"> <!-- レスポンシブ -->
    
    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag('/favicon-96x96.png', {rel: 'icon', sizes: '96*96', type: 'image/png'}) %>
    <%= favicon_link_tag('/apple-touch-icon.png', {rel: 'apple-touch-icon-precomposed', sizes: '180*180', type: 'image/png'}) %>
    <%= favicon_link_tag('/android-touch-icon.png', {rel: 'android-touch-icon', sizes: '192*192', type: 'image/png'}) %>
    
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  
  
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <div class="container-fluid">
      <!-- deviseフラッシュメッセージ -->
      <% flash.each do |key, value| %>
        <p><%= content_tag(:div, value, class: "#{key}") %></p>
      <% end %>
      
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
